<div class="card-product">
  <%= link_to incident_path(incident), class:"text-decoration-none" do  %>
  <div class="card-product">
    <div class="card-product-infos">
      <% if incident.photo.attached? %>
        <%= cl_image_tag incident.photo.key, class: "incident-image", alt: "Photo de #{incident.title}" %>
      <% else %>
        <%= image_tag "visuel-accident-de-la-route.png", alt: "Incident" %>
      <% end %>
    </div>

    <div class="card-product-bottom">
      <h6><%= incident.category %></h6>
      <p class="truncate"><%= incident.address %>.</p>
      <p><%= incident.created_at %></p>
    </div>
  </div>
  <% end %>
</div>
