<div class="incident-form-container">
  <div class="form-card">
    <!-- Bouton retour -->
    <a href="<%= my_incidents_incidents_path %>" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </a>

    <h1>Modifier l'incident</h1>

    <%= form_with(model: @incident, local: true, html: { multipart: true }) do |form| %>
      <div>
        <%= form.label :title, "Titre" %>
        <%= form.text_field :title, required: true %>
      </div>

      <div>
        <%= form.label :address, "Adresse (Équateur)" %>
        <%= form.text_field :address, placeholder: "Tape l’adresse ici", required: true %>
      </div>

      <div>
        <%= form.label :date, "Date et heure" %>
        <%= form.text_field :date, id: "incident_date", class: "flatpickr", autocomplete: "off", value: @incident.date&.strftime("%Y-%m-%d %H:%M") %>
      </div>

      <div>
        <%= form.label :category, "Catégorie" %>
        <%= form.select :category, @categories, { prompt: "Sélectionner une catégorie" } %>
      </div>

      <div>
        <%= form.label :description, "Description" %>
        <%= form.text_area :description, required: true %>
      </div>

      <div>
        <%= form.label :photo, "Photo de l'incident" %>
        <%= form.file_field :photo, direct_upload: true %>
      </div>

      <div>
        <%= form.submit "Mettre à jour l'incident", class: "btn-submit-temp" %>
      </div>
    <% end %>
    </div>
</div>
