<div class="incident-form-container">
  <div class="form-card">
  <!-- Bouton retour -->
    <a href="<%= incidents_path %>" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </a>

    <h1>Mes incidents signalés (<%= @incidents.count %>)</h1>

    <% @incidents.each do |incident| %>
      <div>
        <p><strong>Titre :</strong> <%= incident.title %></p>
        <h3><%= incident.category %> - <%= incident.address %></h3>
        <p><%= incident.description %></p>
        <p>
          <% if incident.date.present? %>
            <%= incident.date.strftime("%d/%m/%Y %Hh%M") %>
          <% else %>
            <em>Date non renseignée</em>
          <% end %>
        </p>

        <% if incident.comments.any? %>
          <% incident.comments.order(created_at: :desc).each do |comment| %>
          <div class="card">
            <div class="incident-meta">
              <strong><%= comment.user.nickname.present? ? comment.user.nickname : comment.user.email %></strong>
              <small><%= comment.created_at.strftime("le %d/%m/%Y à %H:%M") %></small>
            </div>
            <p><%= comment.content %></p>
          </div>
          <% end %>
        <% else %>
          <p>Aucun commentaire pour cet incident.</p>
        <% end %>

        <div class="d-flex justify-content-between">
          <%= link_to edit_incident_path(incident) do %>
            <i class="fas fa-pen"></i>
          <% end %>

          <%= link_to incident_path(incident), method: :delete, data: { turbo_method: :delete } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
