<div class="incident-form-container">
  <div class="form-card">
  <!-- Bouton retour -->
    <a href="<%= incidents_path %>" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </a>

    <h1>Mes incidents signalés (<%= @incidents.count %>)</h1>

    <% @incidents.each do |incident| %>
      <div class="incident-meta-block">
        <h2><i class="fa-solid fa-circle-exclamation"></i> <%= incident.title %></h2>
        <div class="incident-meta-line">
          <i class="fa-solid fa-layer-group"></i>
          <span><%= incident.category %></span>
        </div>
        <div class="incident-meta-line">
          <i class="fa-solid fa-location-arrow"></i>
          <span> <%= incident.address %></span>
        </div>
        <div class="incident-meta-line">
          <i class="fa-solid fa-scroll"></i>
          <span><%= incident.description %></span>
        </div>
        <div class="incident-meta-line">
          <i class="fa-solid fa-clock"></i>
          <span>
            <% if incident.date.present? %>

                      <%= incident.date.strftime("Le %d/%m/%Y à %Hh%M") %>
            <% else %>
              <em>Date non renseignée</em>
            <% end %>
          </span>
        </div>


        <div class="btn-edit-trash">
          <!--Icône pour zoomer sur l'incident -->
          <%= link_to incidents_path(lng: incident.longitude, lat: incident.latitude), class: "zoom-incident-btn" do %>
            <i class="fas fa-search-location"></i>
          <% end %>

          <%= link_to edit_incident_path(incident) do %>
            <i class="fas fa-pen"></i>
          <% end %>

          <%= link_to incident_path(incident), method: :delete, data: { turbo_method: :delete } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>

        <% if incident.comments.any? %>
          <% incident.comments.order(created_at: :desc).each do |comment| %>
            <div class="card">
              <div class="incident-meta">
                <strong><%= comment.user.display_name %></strong>
                <small><%=comment.created_at.strftime( "le %d/%m/%Y à %Hh%M") %></small>
              </div>
              <p><%= comment.content %></p>
            </div>
          <% end %>
        <% else %>
          <p>Aucun commentaire pour le moment.</p>
        <% end %>

      </div>
      <hr>
    <% end %>
  </div>
</div>
