<h1>Signaler un incident</h1>

<%= form_with(model: @incident, local: true) do |form| %>

  <div>
    <%= form.label :title, "Titre de l'incident" %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :address, "Addresse de l'incident" %>
    <%= form.text_field :address, required: true %>
  </div>

  <div>
    <%= form.label :date, "Date et heure" %>
    <%= form.datetime_select :date, required: true %>
  </div>

  <div>
    <%= form.label :category, "Catégorie d'incident" %>
    <%= form.text_field :category, required: true %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, required: true %>
  </div>

  <div>
    <%= form.submit "Créer l'incident" %>
  </div>
<% end %>
