<div class="incident-show-container">
  <div class="incident-card">

    <!-- Bouton retour -->
    <a href="<%= incidents_path %>" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </a>

    <!-- Image de l'incident -->
    <div class="incident-image">
      <%# if @incident.photo_url.present? %>
        <%#= image_tag @incident.photo_url, alt: @incident.title, width: 390, height: 231, crop: :fill %>
      <%# else %>
        <%= image_tag "visuel-accident-de-la-route.png", alt: "Image non disponible", width: 390, height: 231 %>
      <%# end %>
    </div>


    <!-- Informations de l'incident -->
    <div class="incident-details">
      <h1><%= @incident.title %></h1>
    <div class="section-separator"></div>

    <% if @distance.present? %>
      <p class="incident-meta">
        <strong>Distance :</strong> <%= @distance < 1 ? "#{(@distance * 1000).to_i} mètres" : "#{@distance} km" %>
      </p>
    <% end %>

    <p class="incident-meta"><strong>Lieu :</strong> <%= @incident.address %></p>

    <% if @incident.date.present? %>
      <p class="incident-meta"><strong>Date :</strong> <%= @incident.date.strftime("%d/%m/%Y") %></p>
      <p class="incident-meta"><strong>Heure :</strong> <%= @incident.date.strftime("%H:%M") %></p>
    <% end %>

      <p class="incident-description"><%= @incident.description %></p>
    </div>

    <!-- Boutons d'interaction -->
    <div>
      <%= render partial: "incidents/vote_buttons", locals: { incident: @incident } %>
    </div>

    <!-- Formulaire de commentaire -->
    <div class="incident-comments">
      <%= render partial: "incidents/comment_form", locals: { incident: @incident, comment: nil } %>
    </div>

    <!-- Stats locales -->
    <div class="incident-footer">
      <%= link_to local_statistics_path(@incident.id), class: "stats-button" do %>
        <i class="fas fa-chart-bar"></i> Stats locales
      <% end %>
    </div>

    <div class="section-separator"></div>

    <!-- Commentaires -->
    <div class="incident-details">
      <h1>Commentaires</h1>
    </div>
    <div>
      <%= render partial: "incidents/comments_list", locals: { incident: @incident } %>

    </div>
  </div>

</div>
