<!-- app/views/statistics/local.html.erb -->
<div data-controller="statistics"
     data-statistics-incident-id="<%= @incident.id %>"
     data-statistics-radius="<%= @radius %>"
     data-statistics-months="<%= @months %>"
     data-statistics-stats="<%= @stats.to_json %>"
     data-statistics-trends="<%= @trends.to_json %>">
  <h1>Statistiques locales autour de "<%= @incident.title %>"</h1>

  <div class="row">
    <div class="col-auto">
      <label class="form-label" for="radius">Rayon (km) :</label>
    </div>
    <div class="col-auto">
      <input class="form-control"
            type="number" id="radius" step="1" min="1"
            data-statistics-target="radius"
            data-action="input->statistics#updateCharts"
            value="<%= @radius %>">
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
     <label for="months">Période (mois) :</label>
    </div>
    <div class="col-auto">
      <select class="form-control"
              id="months"
              data-statistics-target="months"
              data-action="change->statistics#updateCharts">
        <option value="1" <%= "selected" if @months == 1 %>>1 mois</option>
        <option value="3" <%= "selected" if @months == 3 %>>3 mois</option>
        <option value="6" <%= "selected" if @months == 6 %>>6 mois</option>
        <option value="12" <%= "selected" if @months == 12 %>>12 mois</option>
      </select>
    </div>
  </div>

  <h2>Répartition par catégorie (derniers <%= @months %> mois)</h2>
  <div class="card">
    <div class="card-body">
      <div class="chart-container">
        <canvas id="categoryChart" data-statistics-target="categoryChart"></canvas>
      </div>
    </div>
  </div>

  <h2>Tendances des 5 principales catégories (derniers 6 mois)</h2>
  <div data-statistics-target="trendsContainer"></div>
</div>
