<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <!-- LOGO à gauche -->
    <div class="navbar-left">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-safemoov.png", class: "navbar-logo", alt: "SafeMoov" %>
      <% end %>
    </div>


  <!-- NAVBAR RIGHT -->
  <div class="navbar-right d-flex align-items-center gap-3">

    <!-- CLOCHE NOTIFICATIONS (toujours visible) -->
    

    <!-- PROFIL SI CONNECTE / CONNEXION SINON -->
    <% if user_signed_in? %>
      <!-- Menu utilisateur (photo/avatar) -->
      <div class="dropdown profile-menu">
        <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key,
                                 alt: "Avatar",
                                 width: 40,
                                 height: 40,
                                 crop: :thumb,
                                 gravity: :face,
                                 radius: :max,
                                 zoom: 1.3,
                                 class: "avatar" %>
          <% else %>
          <%= image_tag("default-avatar-safemoov.png", class: "avatar", alt: "Mon profil") %>
        </a>
        <% end %>

        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Mes incidents créés (#{current_user.incidents.count})", my_incidents_incidents_path, class: "dropdown-item" %>
          <hr>
          <%= link_to "Editer mon profil", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <!-- Lien Connexion -->
      <div class="connexion-link">
        <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
