<!-- app/views/shared/_notifications.html.erb -->
<%= turbo_stream_from "notifications_#{user.id}" %>
<div class="notifications" data-controller="notifications">
  <%= link_to "#", data: { bs_toggle: "offcanvas", bs_target: "#notificationsOffcanvas", turbo: "false" } do %>
    <i class="fas fa-bell"></i>
    <% if user.notifications.unread.any? %>
      <span class="badge"><%= user.notifications.unread.count %></span>
    <% end %>
  <% end %>
  <div id="notificationsOffcanvas" class="offcanvas offcanvas-end" tabindex="-1">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title">Notifications</h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <%= link_to alerts_path  do %>
        <div class="d-flex">
          <h2><i class="fas fa-binoculars"></i> Zones surveillées </h2>
        </div>
      <% end %>
      <hr>
      <% if user.notifications.unread.any? %>
        <% user.notifications.unread.each do |notification| %>
          <div class="card" data-notification-id="<%= notification.id %>">
            <%= link_to incident_path(notification.incident), data: { action: "click->notifications#markAsRead", notification_id: notification.id, turbo: "false" } do %>
              <div class="card-body">
                <%= notification.incident.title %>
                <small>le <%= notification.created_at.strftime("%d/%m/%Y à %Hh%M") %> par <%= notification.incident.user.nickname %></small>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>Aucune notification</p>
      <% end %>
    </div>
  </div>
</div>
