<div class="incident-form-container">
  <div class="form-card">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <div class="container">
      <h1><%= @alert.new_record? ? "Nouvelle Alerte" : "Modifier l'Alerte" %></h1>
      <%= simple_form_for @alert do |f| %>
        <%= f.input :address, label: "Adresse", input_html: { class: "address-autocomplete", autocomplete: "off" } %>
        <%= f.input :radius, label: "Rayon (km)", input_html: { min: 1, value: 10 } %>
        <%= f.submit @alert.new_record? ? "Créer l'alerte" : "Mettre à jour", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
